<div class="w-full overflow-scroll" data-controller="calendar">
  <h1 class="font-medium text-4xl"><%= t('.events') %></h1>
  <%# if notice.present? %>
<!--    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%#= notice %></p>-->
  <%# end %>

  <div class="calendar-heading">
    <button data-action="click->calendar#prev"> <%= t('.simple_calendar.previous') %> </button>
    <button data-action="click->calendar#next"> <%= t('.simple_calendar.next') %> </button>
    <%#= link_to t('simple_calendar.previous', default: 'Previous'), '', 'data-action' => "click->calendar#prev" %>
<!--    <span class="calendar-title"><%#= t('date.month_names')[@start_date.month] %> <%#= @start_date.year %></span>-->
    <%#= link_to t('simple_calendar.next', default: 'Next'), '' , 'data-action' => "click->calendar#next"%>
  </div>

  <div >
    <%= tag.div nil, data: {events: @events.to_json}, id: "calendar", style: 'height: 100%'%>
  </div>

  <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
    <div class="relative my-6 w-1/2">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <%= form_with url: events_path, method: :post do |f| %>
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-3xl font-semibold" data-calendar-target="titleLabel">
            Mon évent
          </h3>
        </div>
        <!--body-->


          <%= f.hidden_field :id,  "data-calendar-target" => "eventId"  %>
          <div class="p-5">
            <%= f.label :title %>
            <%= f.text_field :title, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", "data-calendar-target" => "title" %>
          </div>

          <div class="p-5">
            <%= f.label :room_id %>
            <%= f.select :room_id, Room.all.pluck(:name, :id), {}, { required: true , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/4", "data-calendar-target" => "roomId" }%>
          </div>

          <div class="p-5">
            <%= f.label :color %>
            <%= f.color_field :color, value: '#' + SecureRandom.hex(3), class: "block shadow rounded-md outline-none mt-2 w-1/4", "data-calendar-target" => "color" %>
          </div>

          <div class="p-5">
            <div class="flex justify-center">
              <div class="w-1/2">
                <%= f.label :start_time %>
                <%= f.datetime_field :start_time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-2/3", "data-calendar-target" => 'start' %>
              </div>
              <div class="w-1/2">
                <%= f.label :end_time %>
                <%= f.datetime_field :end_time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-2/3", "data-calendar-target" => 'end' %>
              </div>
            </div>
          </div>


        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" data-action="click->calendar#toggleModal">
            Close
          </button>
          <%= f.submit class: "bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
</div>

<!--<div class="grid grid-cols-8 gap-8">-->
<!--  <div class="col-span-1 justify-center">-->
<!--    <h1>time</h1>-->
    <%# 0.upto(24) do |i| %>
<!--      <h1><%#= i.to_s + ':00' %></h1>-->
    <%# end %>
<!--  </div>-->

  <%# %w[Lundi Mardi Mercredi Jeudi Vendredi Samedi Dimanche].each_with_index do |day, i| %>
<!--    <div class="col-span-1 justify-center">-->
<!--      <h1><%#= day %></h1>-->
<!--    </div>-->
  <%# end %>

<!--</div>-->
